@import "~@angular/material/theming";

@mixin table-of-contents-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .table-of-contents {
    margin-top: 10rem;
    overflow: auto;
    background-color: mat-color($accent,50);
    font-family: "Open Sans", sans-serif;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .table-of-contents .container-header {
      font-size: 0.85rem;
      font-weight: bold;
      text-transform: uppercase;
  }

  .table-of-contents .container {
    width: 100%;
  }

  .selected {
    font-weight: 400;
    border-left: .15rem solid mat-color($accent, 700);
    color: mat-color($primary,700);
  }


  .table-of-contents .container p {
    padding-left: 1rem;
    font-size: 0.85rem;
    font-weight: 400;
  }
}
