<div fxLayout="column" fxLayoutAlign="start start" class="table-of-contents">
    <div class="container-header">
        <p> Table of Contents</p>
    </div>
    <div fxLayout="column" fxLayoutAlign="start stretch" class="container">
        <div class="content" [ngClass]="{'selected': true}">
            <p>Before you begin</p>
        </div>
        <div class="content">
            <p>Lets check</p>
        </div>
        <div class="content">
            <p>Complete</p>
        </div>

    </div>
</div>