@import "~@angular/material/theming";

@mixin navbar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .navbar {
    background-color: mat-color($primary);
  }

  .brand {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1rem;
    margin-right: 1rem;

    .logo {
      img {
        height: 70%;
        max-height: 3rem;
        max-width: 5rem;
      }
    }
  }
}
