@import "~@angular/material/theming";

@mixin side-nav-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .side-navbar {
    background-color: mat-color($accent, 50);
    padding-left: 1rem;
    overflow: auto;
    font-family: "Open Sans", sans-serif;
    padding-top: 2rem;
  }

  .category {
    min-height: 2.5rem;
    font-size: 0.95rem;
    font-weight: bold;
    color: mat-color($accent, 700);
    text-transform: uppercase;

    p {
      margin: 0;
      padding: 0;
      padding-left: 1rem;
      padding-top: 0.5rem;
    }
    .selected {
      font-weight: bold;
      border-left: 0.15rem solid mat-color($accent, 700);
      background-color: mat-color($accent, 200);
      height: 100%;
      color: mat-color($primary, 700);
    }
  }

  .side-navbar::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0.25rem;
  }
  .side-navbar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: mat-color($accent, 300);
  }
}
