<div fxFlexFill fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="2rem" class="container">
    <div fxLayout="column" fxLayoutAlign="start start" class="container-content">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem" class="content-header">
            <mat-icon>bookmarks</mat-icon>
            <p>Visual Recognition</p>
        </div>
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="0.25rem" class="content-body">
            <p>
                Getting started with Visual Recognition. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis est nam recusandae velit iste incidunt, quibusdam sint architecto! Eius aliquam ab sit in similique fugiat aperiam optio minus ipsam aspernatur.
            </p>
            <div fxLayout="row" fxLayoutAlign="start center" class="content-links" fxLayoutGap="0.25rem">
                <a (click)="goToPlayground()">Playground</a>
                <mat-icon>flip_to_front</mat-icon>
            </div>
        </div>
    </div>
</div>